body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF5FD;
    
}

.topnav
{
    
    top:0;
    width: 100%;
    height:60px;  
    left:0;
    right: 0;;
    position: fixed;
    z-index: 2;
    background-color: #022E57;
}
h1
{
    position: relative;
    text-align: right;
    margin-right:12px;
    display: block;
}

.logo
{
    left: 10px;
    top: 10px;
    height: 40px;
    position: absolute;
}


.topnav h1{
    color:#FFF5FD;
    margin-top: 0px;
    margin-left: 50px;
    font-size: 50px;
}
.content_text
{
    
    margin-top:40px ;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 50px;
    text-align: justify;
    position: absolute;
    top:10%;
    
}
.work-area  
{
    display: block;
    margin:auto;
    text-align: center;
    padding-top: 30px;
}


 .work-area .drop-down
{
    
    font-size: 15px;
    display: block;
    position:relative;
    
    
    width:170px;
    height:40px;
    margin:0 auto;
    font-size: 20px;
    padding-left:10px;
    border:none;
    border-radius: 4px;
    background-image: linear-gradient(to top,#022E57,#0057a8);
    color:#ffff;
}

.drop-down option{
    background: #022E57;
    color: #ffff;
    border-color:#022E57 ;
    
}
.drop-down option:hover{
    background-color: #0057a8;
}
#toggle-view{
    display: none;
}
.payment
{
    font-size: 20px;
}
.payment input{
    height:30px;
    font-size: 20px;
    width:150px;
}

.work-area .donate_button
{
    height:40px;
    width:100px;
    
    border-radius: 5px;
    border-color:#022E57;
    background-color: #022E57 ;
    
    color:white;
    font-size: 20px;
    position:relative;
    top:70%;
    margin-top: 70px;
    margin-bottom: 30px;
    
    
}

.donate_button:hover{
    color:#022E57;
    background-color: #FFF5FD;
    box-shadow: 0px 5px 5px #022E57;
    cursor: pointer;
    font-weight: bold;
    font-size: 21px;

}
.work-area .reset_button
{
    height:40px;
    width:100px;
    
    border-radius: 5px;
    border-color:#022E57;
    background-color: #022E57 ;
    
    color:white;
    font-size: 20px;
    position:relative;
    top:70%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right:12px;
}

.reset_button:hover{
    color:#022E57;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 21px;

}




@media screen and (max-width: 480px)
{
    .topnav
    {
        height:15%;
        display:block;
        
    }
    .topnav h1 
    {
        display:block;
        position:absolute;
        text-align: left;
        top:50%;
        font-size: 40px;
        margin-left: 3%;
    }   
    .work-area
    {
        height: 200px;
        
    }
    body
    {
        overflow-y: scroll;
    }
    
}
